<h1>Welcome to my first capstone project </h1>
<h1>  Blocitoff:</h1>
<p>
  A Utility Application With Rake Automation
</p>
<p>
 Application contains a self destructing to-do list.
</p>
<p>
    First time users please sign up here:
    <ul>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
    </ul>
</p>
