<br/>
<%= item.name %>
<br/>
<p>Days left to complete item: 
 <%= item.days_left %>
</p>

<%= link_to "Delete item", [@user,item] ,class: 'btn btn-danger', method: :delete, id: "deleteitem-#{item.id}",class: 'glyphicon glyphicon-ok', remote: true %> 