<br/>
<%= item.name %>
<br/>
<p>Days left to complete item: 
 <%= item.days_left %>
</p>

<%= link_to "Delete item", [@user,item] ,class: 'btn btn-danger', method: :delete, class: 'glyphicon glyphicon-star-empty', remote: true %> 